@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

a:hover {
    border: 1px solid white;
    border-radius: 10px;
    background: #49497e;
    color: white;
    padding: 10px;
}

.btn-bg {
    border: 1px solid rgb(156, 156, 235);
    border-radius: 10px;
    padding: 5px;
    color: black;
}

ul {
    list-style: none;
}

.active {
    color: #ffaaee;
    text-decoration: underline;
    font-weight: bold;
}

nav {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.ul-links {
    display: flex;
    align-items: center;
}

.ul-links li {
    margin: 0px 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1551496168-239c45c2cfd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8anBnJTIwaW1hZ2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-bottom: 20px;
    color: whitesmoke;
    text-align: center;
}

.header-content h1 {
    font-size: 4vmin;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-content p {
    font-size: 4vmin;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}

.button {
    margin-top: 50px;
    gap: 20px;
    padding: 8px 15px;
    border: 1px solid pink;
    background-color: rgb(236, 125, 125);
    border-radius: 30px;
    color: whitesmoke;
}

header .btn {
    margin: 40px 20px;
}

.img-menu-btn {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.btn-bg {
    margin-right: 50px;
}

section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

img {
    border-radius: 10px;
    ;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin: 100px auto;
    gap: 20px;
}

.row h4 {
    font-size: 4vmin;
    color: #5f5454;
    margin: 10px auto;
    padding: 0px 40px;
}

p {
    color: #7c7c7c;
    padding: 0px 40px;
}

body,
html {
    overflow-x: hidden;
}

.section-3 {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pp {
    font-size: 20px;
    font-weight: normal;
    color: #ddc2c2
}

.section-3 h1 {
    color: whitesmoke;
}


/* mobile device */

@media only screen and (max-width:850px) {
    .img-menu-btn {
        display: block
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .ul-links,
    .btn-bg {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #5f5454;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .ul-links li {
        margin: 30px auto;
    }
}


/* SECTION 4 */

.section-4 {
    width: 100%;
    height: 80vh;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-4 .row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.section-4 .col {
    margin-top: 30px;
    width: 300px;
    display: flex;
    gap: 10px;
}

.section-4 .col h2 {
    margin-left: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-4 .col svg {
    width: 30px;
    color: rgb(255, 158, 39);
}


/* SECTION 5 */

.section-5 {
    width: 100%;
    height: 100vh;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(39, 39, 39);
}

.section-5 .section-5-left {
    width: 50%;
}

.section-5 .section-5-left img {
    width: 100%;
}

.section-5 .section-5-right {
    width: 50%;
}

.section-5 .section-5-right h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.but1 {
    padding: 10px;
    margin-left: 50px;
    border-radius: 5px;
    border: 1px solid white;
}

.section-3 .header-content button:hover {
    box-shadow: 0 0 5px 2px #ccc;
    color: grey;
    cursor: pointer;
}

.section-5 .section-5-right button {
    margin-top: 20px;
    margin-left: 150px;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    background-color: white;
}

.pad {
    padding-left: 10px
}

.section-5 .section-5-right button:hover {
    box-shadow: 0 0 5px 2px #ccc;
    color: grey;
    cursor: pointer;
}

.section-5 .section-5-right p {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(190, 190, 190);
}

.foot {
    width: 100vw;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background-color: #5f5454;
    text-align: center;
}

.foot p {
    color: white !important;
    margin: 20px auto;
    padding: 20px auto;
}